<!DOCTYPE html>
<html>
  <head>
    <title>HR-хата</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= cloudinary_js_config %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class='container'>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
